<html>

<head>
  <style>
  </style>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>expressGo </title>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <!-- Custom icon font-->
  <link rel="stylesheet" href="css/fontastic.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Fancybox-->
  <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- Bootstrap core CSS -->
  <link href="md/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="md/css/mdb.min.css" rel="stylesheet">
  <!-- Favicon-->


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">
</head>
<style>
  #messages ul.error {
          list-style: none;
          color: #a94442;
          background-color:#f2dede;
          border-color:#ebccd1;
          padding: 15px;
          margin-bottom:20px;
          border: 1px solid transparent;
          border-radius: 4px;
        }
        #messages ul.success {
          list-style: none;
          color: #54c922;
          background-color:#dfeed9;
          border-color:#d3e5d1;
          padding: 15px;
          margin-bottom:20px;
          border: 1px solid transparent;
          border-radius: 4px;
        }


        
        </style>

<body>
  <header class="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light  scrolling-navbar">
      <div class="container">
        <a class="navbar-brand waves-effect" href="index.html">
          <strong>expressGo</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!--<span class="navbar-toggler-icon"></span>-->
          <i class="fa fa-navicon fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          </ul>
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://github.com/JosephTesla" class="btn btn-outline-white waves-effect waves-light"">
								<i class="
                fa fa-github"></i>follow
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/register" class="btn btn-outline-white waves-effect waves-light"">
								<i class=" fa
                fa-user"></i>
                <span id="userone">
                  Signup</span>
              </a>
            </li>
            <li></li>
            <li id="usertwo" class="nav-item">
              <a href="/users/login" class="btn btn-outline-white waves-effect waves-light"">
								<i class=" fa
                fa-key"></i> Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>



  <div class="container">

    <div class="content-app">
      <div class="userpart">


        <center>
          <div class="col-md-6">
          <!-- Material form register -->
          <div class="card">

            <h5 class="card-header  white-text text-center py-4"  style="background:rgb(44, 42, 42) !important">
              <strong>Sign up</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

              <!-- Form -->
              <form method="POST" action="/users/register" class="text-center" style="color: #757575;">
                <% if (locals.errors) { %>
                <div class="alert alert-danger">
                  <%  errors.forEach(function(error){ %>
                  <%= error.msg %><br>
                  <%  }) %>
                </div>
                <% }  %>
                <% if (locals.nameerror) { %>
                <div class="alert alert-danger">
                  <%= nameerror %>
                </div>
                <% }  %>
                <div class="form-row">
                  <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                      <input type="text" required value="<%= (locals.name)?name:'' %>" name="name" id="materialRegisterFormFirstName"
                        class="form-control">
                      <label for="materialRegisterFormFirstName">Full name</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                      <input type="text" required value="<%= (locals.username)?username:'' %>" name="username" id="materialRegisterFormLastName"
                        class="form-control">
                      <label for="materialRegisterFormLastName">Username</label>
                    </div>
                  </div>
                </div>

                <!-- E-mail -->
                <div class="md-form mt-0">
                  <input type="email" required value="<%= (locals.email)?email:'' %>" name="email" id="materialRegisterFormEmail"
                    class="form-control">
                  <label for="materialRegisterFormEmail">E-mail</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <input type="password" required value="<%= (locals.password)?password:'' %>" name="password" id="materialRegisterFormPassword"
                    class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                  <label for="materialRegisterFormPassword">Password</label>
                  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                  </small>
                </div>
                <!--Confirm Password -->
                <div class="md-form">
                  <input type="password" required value="<%= (locals.password2)?password2:'' %>" name="password2" id="materialRegisterFormPassword"
                    class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                  <label for="materialRegisterFormPassword">Confirm password</label>
                </div>
                Gender:
                <select  name="gender" required value="<%= (locals.gender)?gender:'' %>" class="mdb-select md-form">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <!-- Newsletter -->
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                  <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign
                  Up</button>

                <!-- Register -->
                <p>Already a member?
                  <a href="./login">Login</a>
                </p>
              </form>
              <!-- Form -->

            </div>

          </div>
          <!-- Material form register -->
        </div>
        </center>
      </div>
    </div>

    <footer>
      &copy expressGo
    </footer>
  </div>


  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/socket.io.js"></script>
  <script src="vendor/popper.js/umd/popper.min.js"> </script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
  <script src="js/front.js"></script>



  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="md/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
    // Material Select Initialization
    $(document).ready(function() {
    $('.mdb-select').materialSelect();
    });
  </script>

</body>



</html>