<html>

<head>
   <style>
   </style>
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>expressGo</title>
   <script src="vendor/jquery/jquery.min.js"></script>
   <!-- Font Awesome CSS-->
   <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
   <!-- Custom icon font-->
   <link rel="stylesheet" href="css/fontastic.css">
   <!-- Google fonts - Open Sans-->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
   <!-- Fancybox-->
   <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
   <!-- theme stylesheet-->
   <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
   <!-- Custom stylesheet - for your changes-->
   <link rel="stylesheet" href="css/custom.css">
   <link rel="stylesheet" href="css/chat.css">
   <!-- Bootstrap core CSS -->
   <link href="md/css/bootstrap.min.css" rel="stylesheet">
   <!-- Material Design Bootstrap -->
   <link href="md/css/mdb.min.css" rel="stylesheet">
   <!-- Favicon-->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
      rel="stylesheet">
   <script src="js/index.js"></script>
</head>
<body>
   <header class="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light  scrolling-navbar">
         <div class="container">
            <a class="navbar-brand waves-effect" href="index.html">
               <strong>expressGo</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <!--<span class="navbar-toggler-icon"></span>-->
               <i class="fa fa-navicon fa-lg"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">

               </ul>
               <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item">
                     <a href="https://github.com/JosephTesla" class="btn btn-outline-white waves-effect waves-light"">
								<i class="
                        fa fa-github"></i>follow
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/users/<%= user.username %>" class="btn btn-outline-white waves-effect waves-light"">
								<i class="
                        fa fa-user"></i>
                        <span id="userone">
                           <%= user.username %></span>
                     </a>
                  </li>
                  <li></li>
                  <li id="usertwo" class="nav-item">
                     <a href="users/logout" class="btn btn-outline-white waves-effect waves-light"">
								<i class="
                        fa fa-key"></i>
                        Logout
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <div class="container">

      <div class="content-app" id="index">
         <div class="row" id="messageArea">
            <div class="col-md-4" id="sidebar">
               <ul style="list-style-type:square;">
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-sm" href="/chats" role="button">Chats
                        <i class="fa fa-comment ml-2"></i></a></li>
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-sm" href="/friendlist" role="button">friends
                    <span class="badge badge-primary badge-pill pull-right"><%- (user.requests)?user.requests: "" %></span></a></li>
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-sm" href="/notifications" role="button">notifications  
                    <span class="badge badge-primary badge-pill pull-right"><%= (user.notifications)?user.notifications: "" %></span></a></li>
                    <li><a class="btn btn-outline-primary waves-effect waves-light btn-sm" href="/groups" role="button">Groups  
                    <span class="badge badge-primary badge-pill pull-right">1</span></a></li>
               </ul>
            </div>
            <div class="col-md-8">
               <div class="app-content">
                  <h3>Find Friends</h3>
                <form action="/search" method="POST">
                  <input type="search" name="friendname" placeholder="search name" />
                  <input type="submit" class="btn btn-outline-primary btn-sm" value="search"/>
                </form>
                <div class="friends">
                    <div class="card">
                  <h3 class="card-title">search results</h3>
                  
                  <ul class="list-group">
                    <%   if (searchResults.length) { %>
                      <%	searchResults.forEach(function(user){	%>
                        <l1 class="list-group-item"><a href="/addfriend/<%= user.username %>">
                            <%= user.name %>  (@<%= user.username %>)</a></l1>
                        <% })	%>
                    <% }	%>
                    
                    <%   if (!searchResults.length) { %>
                      <li class="list-group-item">No related search results.</li>
                      <li>try searching by user's name</li>
                      <% }	%>
                    
                  </ul>
                </div>
               </div>
            </div>
         </div>


         <footer>
            &copy expressGo
         </footer>
      </div>


      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="js/socket.io.js"></script>
      <script src="vendor/popper.js/umd/popper.min.js"> </script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
      <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/front.js"></script>
      <script src="js/profile.js"></script>
      <script src="js/notify.js"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="md/js/mdb.min.js"></script>
      <!-- Initializations -->
      <script type="text/javascript">
         // Animations initialization
         new WOW().init();
      </script>

</body>



</html>